---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import AboutSection from "../components/AboutSection.astro"
import Code from "../components/Code.astro"
import about from "../data/about"
---

<Layout
  metadata={{
    title: "About"
  }}
>
  <Section>
    <header class="mt-24 md:mt-32 max-w-100 md:max-w-150">
      <h1 class="h1">I’m Adrian Keim, a design engineer based in Maine.</h1>
      <div class="flex flex-wrap gap-4 md:gap-8 gap-y-1 text-metal-500 text-lg md:text-xl mt-6 mb-8 font-semibold">
        <a href="mailto:hello@aetinx.dev" target="_blank">E-mail</a>
        <a href="https://x.com/aetinx" target="_blank">X.com</a>
        <a href="https://github.com/aetinx" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/aetinx/" target="_blank">LinkedIn</a>
      </div>
    </header>
    <main>
      <div class="flex flex-col space-y-4 max-w-160">
        <p>
          Guided by a love of exceptional design, it’s my mission to create extraordinary work of my own, and to create for public good.
        </p>
        <p>
          When not creating, I enjoy spending my time driving in racing simulators, curating tasteful inspiration, and hanging out with
          friends.
        </p>
      </div>
      <hr class="my-16 border border-metal-300" />
      <div class="flex flex-col gap-y-16">
        <AboutSection title="Skills">
          <ul class="flex flex-wrap gap-x-4 gap-y-2">
            {about.skills.map(x => <li>{x}</li>)}
          </ul>
        </AboutSection>
        <AboutSection title="Recognition">
          <ul class="flex flex-col gap-4">
            {
              about.recognition.map(x => (
                <li>
                  <article class="grid grid-cols-[1fr_2fr] max-md:flex max-md:flex-col">
                    <time class="text-metal-500">{x.year}</time>
                    <div class="flex flex-col items-start">
                      <a href={x.url} target="_blank" class={x.url && "underline"}>
                        {x.issuer}
                      </a>
                      <span class="text-metal-500">{x.title}</span>
                    </div>
                  </article>
                </li>
              ))
            }
          </ul>
        </AboutSection>
        <AboutSection title="Education">
          <ul class="flex flex-col gap-4">
            {
              about.education.map(x => (
                <li>
                  <article class="grid grid-cols-[1fr_2fr] max-md:flex max-md:flex-col">
                    <time class="text-metal-500">{x.years.from === x.years.to ? x.years.from : `${x.years.from}–${x.years.to}`}</time>
                    <div class="flex flex-col items-start">
                      <span>{x.school}</span>
                      <span class="text-metal-500">{x.study}</span>
                    </div>
                  </article>
                </li>
              ))
            }
          </ul>
        </AboutSection>
        <AboutSection title="Network">
          <ul class="flex flex-wrap gap-x-4 gap-y-2">
            {
              about.contacts.map(x => (
                <li>
                  <a href={x.url} target="_blank" class={x.url && "underline"}>
                    {x.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </AboutSection>
        <AboutSection title="Interests">
          <ul class="flex flex-wrap gap-x-4 gap-y-2">
            {about.interests.map(x => <li>{x}</li>)}
          </ul>
        </AboutSection>
        <AboutSection title="Colophon">
          <div class="flex flex-col gap-4">
            <p class="leading-6">
              This website is built using Astro, Tailwind, and React. Typography is set in Instrument Sans and Commit Mono. Hosted on Cloudflare. You can <a
                href="https://github.com/aetinx/website"
                target="_blank"
                class="underline">view this site's repository</a
              > on GitHub.
            </p>
            <p>
              This website uses JSON-LD structured data for SEO and AEO.
            </p>
            <div>
              <p>Other dependencies used include:</p>
              <ul class="list-disc list-outside ml-8 mt-2">
                <li>
                  <a href="https://docs.astro.build/en/guides/integrations-guide/sitemap/" target="_blank"><Code>@astrojs/sitemap</Code></a>
                </li>
                <li>
                  <a
                    href="https://github.com/martrapp/astro-vtbot/blob/19554f2de6beb57e6d8011d910129b4e83e4c190/components/ReplacementSwap.astro"
                    target="_blank"
                    ><Code>&lt;ReplacementSwap /&gt;</Code> manually added from <Code>astro-vtbot</Code> (commit<Code>19554f2</Code></a
                  >)
                </li>
              </ul>
            </div>
            <p>
              Other components not listed above, such as <Code>&lt;Carousel /&gt;</Code>, have been created by me.
            </p>
            <div>
              <p>Extensions and tools used to make this site:</p>
              <ul class="list-disc list-outside ml-8 mt-2">
                <li><a href="https://tints.dev/" target="_blank" class="underline">tints.dev</a></li>
                <li><a href="https://developer.chrome.com/docs/lighthouse" target="_blank" class="underline">Lighthouse</a></li>
                <li><a href="https://ahrefs.com/seo-toolbar" target="_blank" class="underline">Ahrefs SEO Toolbar</a></li>
                <li><a href="https://search.google.com/test/rich-results" target="_blank" class="underline">Rich Results Test</a></li>
                <li><a href="https://validator.schema.org/" target="_blank" class="underline">Schema Markup Validator</a></li>
              </ul>
            </div>
          </div>
        </AboutSection>
      </div>
    </main>
  </Section>
</Layout>
